{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>TeamTalk</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

    <link href="static/talk_app/css/style.css" rel="stylesheet">
    <link href="static/talk_app/css/style-wide.css" rel="stylesheet">
    <link href="static/talk_app/css/skel.css" rel="stylesheet">

	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">``

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="">TeamTalk</a></h1>
							<!-- <span class="tag">by TEMPLATED</span> -->
						</div>
						<!-- <nav id="nav">
							<ul>
								<li class="active"><a href="index.html">Homepage</a></li>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
							</ul> -->
						</nav>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<!-- <section>
							<p id="field_text"><strong>TeamTalk</strong> is a dynamic communication platform that helps athletic organizations succeed by placing state-of-the-art communication and organizations tools at their fingertips.
            </section> -->
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">

                {% for team in teams %}
                <section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic04.jpg" alt=""></a>
									<div class="box">
										<!-- <p>{{team.name}}</p> -->
										<a href="#" class="button">{{team.name}}</a> </div>
								</section>
								<!-- <section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic02.jpg" alt=""></a>
									<div class="box">
										<p>{{team.name}}</p>
										<a href="#" class="button">Team Info</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic03.jpg" alt=""></a>
									<div class="box">
										<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
										<a href="#" class="button">Team Info</a> </div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic01.jpg" alt=""></a>
									<div class="box">
										<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
										<a href="#" class="button">Team Info</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic02.jpg" alt=""></a>
									<div class="box">
										<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
										<a href="#" class="button">Team Info</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="static/talk_app/img/pic03.jpg" alt=""></a>
									<div class="box">
										<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum  wisi maecenas ligula.</p>
										<a href="#" class="button">Team Info</a> </div> -->
								</section>
                {% endfor %}
							</div>
						</div>
					</div>
	    </div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>Copyright @Ryan Oakes</p>
					<ul class="icons">
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="static/talk_app/js/jquery.min.js"></script>
    <script src="static/talk_app/js/jquery.dropotron.min.js"></script>
    <script src="static/talk_app/js/skel.min.js"></script>
    <script src="static/talk_app/js/skel-layers.min.js"></script>
    <script src="static/talk_app/js/init.js"></script>

	</body>
</html>
